@import "./variables.scss";

$h5-font-size: $font-size * $heading-size-scale;
$h4-font-size: $h5-font-size * $heading-size-scale;
$h3-font-size: $h4-font-size * $heading-size-scale;
$h2-font-size: $h3-font-size * $heading-size-scale;
$h1-font-size: $h2-font-size * $heading-size-scale;

$d4-font-size: $h1-font-size * $display-size-scale;
$d3-font-size: $d4-font-size * $display-size-scale;
$d2-font-size: $d3-font-size * $display-size-scale;
$d1-font-size: $d2-font-size * $display-size-scale;

%display {
  font-family: $ff-display;
}
%d1 {
  @extend %display;
  font-size: $d1-font-size;
  line-height: 1;
}
%d2 {
  @extend %display;
  font-size: 98px;
  line-height: $d2-font-size;
}
%d3 {
  @extend %display;
  font-size: 78px;
  line-height: $d3-font-size;
}
%d4 {
  @extend %display;
  font-size: $d4-font-size;
  line-height: 1;
}

%heading {
  font-family: $ff-heading;
}
%heading-space {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
%h1 {
  @extend %heading;
  font-size: $h1-font-size;
  line-height: 1;
}
%h2 {
  @extend %heading;
  font-size: $h2-font-size;
  line-height: 1;
  font-weight: 600;
}
%h3 {
  @extend %heading;
  font-size: $h3-font-size;
  line-height: 1;
}
%h4 {
  @extend %heading;
  font-size: $h4-font-size;
  line-height: 1;
}
%h5 {
  @extend %heading;
  font-size: $h5-font-size;
  font-size: $font-size * $heading-size-scale;
  line-height: 1;
}

%text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}
%text-lg {
  @extend %text;
  font-size: 24px;
}
%text-sm {
  @extend %text;
  font-size: 18px;
}
%text-xs {
  @extend %text;
  font-size: 16px;
}

%kicker {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--c-primary);
}
